/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";
@plugin "@midudev/tailwind-animations";

@theme {
  --font-sans: "Montserrat", system-ui, sans-serif;
}

@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url("../public/assets/fonts/monserrat-medium/Montserrat-Medium.woff2")
      format("woff2");
  }
}
