/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-montserrat: "montserrat", sans-serif;
  --animate-fadeIn: fadeIn 0.75s ease-in-out;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url("../public/assets/fonts/monserrat-medium/Montserrat-Medium.ttf")
      format("truetype");
  }
}
